table tr {
	@media (max-width: 768px) {
		display: grid;
		grid-template-columns: 1fr 4fr;

		td:nth-child(1) {
			grid-row: 1 / span 3;
			a, .playable-album-art, img {
				display: block;
				width: 100%;
				height: 100%;
			}
			width: 100%;
		}
	}
	td {
		@media (max-width: 768px) {
			&::before {
				font-weight: bold;
			}
			&:nth-child(2)::before {
				content: 'Song: ';
			}
			&:nth-child(3)::before {
				content: 'Album: ';
			}
			&:nth-child(4)::before {
				content: 'Artists: ';
			}
		}
	}
}

table thead {
	@apply hidden md:table-header-group;
}
