@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		box-sizing: border-box;
		transition: background-color 150ms ease-in-out, color 100ms ease-in-out;
	}

	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	p {
		@apply mt-2 mb-2;
	}

	body {
		@apply dark:bg-material-800 dark:text-material-100 bg-material-100 text-material-800;
	}

	input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='submit']),
	select {
		@apply card;
	}

	table {
		@apply card w-11/12;

		td,
		th {
			@apply p-2 text-left;
		}

		tbody {
			tr:nth-child(2n - 1) {
				@apply bg-material-300 dark:bg-material-600;
			}
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold text-primary-700 dark:text-primary-300;
	}

	h1 {
		@apply text-5xl;
	}

	h2 {
		@apply text-4xl;
	}

	h3 {
		@apply text-3xl;
	}

	h4 {
		@apply text-2xl;
	}

	h5 {
		@apply text-xl;
	}

	h6 {
		@apply text-lg;
	}

	form label {
		@apply font-semibold;
		&::after {
			content: ':';
		}
	}
}

@layer components {
	.card {
		@apply bg-material-200 dark:bg-material-700 p-2 rounded border-material-300
			dark:border-material-600 border-2 shadow;
	}

	.btn-base {
		@apply shadow pt-2 pb-2 pl-4 pr-4 rounded-md m-1;
	}

	.btn {
		@apply btn-base bg-zinc-800 hover:bg-material-700 active:bg-material-900 text-zinc-100
			dark:bg-zinc-200 dark:hover:bg-material-300 dark:active:bg-material-100 dark:text-zinc-800;
	}

	.btn-primary {
		@apply btn bg-primary-700 hover:bg-primary-600 active:bg-primary-800
			dark:bg-primary-400 dark:hover:bg-primary-500 dark:active:bg-primary-300
			dark:text-zinc-100;
	}

	.btn-secondary {
		@apply btn bg-zinc-300 hover:bg-material-200 active:bg-material-400 text-zinc-800
			dark:bg-zinc-700 dark:hover:bg-zinc-800 dark:active:bg-zinc-600 dark:text-zinc-200;
	}

	.btn-destructive {
		@apply btn bg-red-500 hover:bg-red-400 active:bg-red-600 text-zinc-100
			dark:hover:bg-red-600 dark:active:bg-red-400;
	}

	.btn-ghost {
		@apply btn-base shadow-none bg-black bg-opacity-0 hover:bg-opacity-10
			dark:hover:bg-opacity-20;

		&.btn-active {
				@apply bg-opacity-10 dark:bg-opacity-20;
		}
	}

	.btn-outline {
		@apply btn-ghost border dark:border-zinc-600;
	}

}
